{% extends "base.html" %}
{% block title %}{{ titulo }}{% endblock %}
{% block header %}{{ titulo }}{% endblock %}
{% block content %}
  <p>Hola, <strong>{{ request.user.username }}</strong>.</p>
<div style="display:flex; flex-wrap:wrap; gap:12px; margin-top:12px;">

  {% if request.user.tipo_usuario == "ADMIN" %}
  <a class="btn" href="{% url 'core:cursos_list' %}">Cursos</a>
  <a class="btn" href="{% url 'core:estudiantes_list' %}">Estudiantes</a>
  <a class="btn" href="{% url 'core:planificacion_upload' %}">Planificación</a>
  <a class="btn" href="{% url 'core:reporte_inasistencias' %}">Reportes</a>
{% elif request.user.tipo_usuario == "COORD" %}
  <a class="btn" href="{% url 'core:cursos_list' %}">Supervisar Cursos</a>
  <a class="btn" href="{% url 'core:planificacion_upload' %}">Planificación</a>
  <a class="btn" href="{% url 'core:reporte_inasistencias' %}">Reportes</a>
{% elif request.user.tipo_usuario == "PROF" %}
  <a class="btn" href="{% url 'core:asistencia_profesor' curso_id=1 %}">Tomar asistencia</a>
  <a class="btn" href="{% url 'core:planificacion_upload' %}">Subir planificación</a>
  <a class="btn" href="{% url 'core:comunicados_list' %}">Comunicados</a>
{% elif request.user.tipo_usuario == "PMUL" %}
  <a class="btn" href="{% url 'atleta:agenda_disponible' %}">Mi Agenda</a>
  <a class="btn" href="{% url 'evaluaciones:evaluaciones_list' estudiante_id=1 %}">Evaluaciones</a>
  <a class="btn" href="{% url 'core:comunicados_list' %}">Comunicados</a>
{% elif request.user.tipo_usuario == "APOD" %}
  <a class="btn" href="{% url 'core:comunicados_list' %}">Comunicados</a>
  <a class="btn" href="{% url 'evaluaciones:evaluaciones_list' estudiante_id=1 %}">Evaluaciones</a>
{% elif request.user.tipo_usuario == "ATLE" %}
  <a class="btn" href="{% url 'atleta:agenda_disponible' %}">Agenda</a>
  <a class="btn" href="{% url 'core:comunicados_list' %}">Comunicados</a>
{% endif %}

</div>

  <p style="margin-top:20px;"><a class="btn" href="{% url 'usuarios:logout' %}">Salir</a></p>
{% endblock %}
