{% extends "base/app.html" %}
{% block title %}Panel Administrador{% endblock %}
{% block header %}Panel Administrador{% endblock %}

{% block content %}
  <p>Hola, <strong>{{ rut }}</strong>.</p>

  <div style="display:flex; gap:16px; flex-wrap:wrap; margin-top:10px;">

  <a class="btn" href="{% url 'core:cursos_list' %}">Gestionar cursos y cupos</a>
  <a class="btn" href="{% url 'core:estudiantes_list' %}">Estudiantes</a>
  <a class="btn" href="{% url 'core:planificacion_upload' %}">Planificación</a>
  <a class="btn" href="{% url 'core:reportes_home' %}">Reportes</a>
  <a class="btn" href="{% url 'core:sedes_list' %}">Sedes</a>

  <!-- Renombrados -->
  <a class="btn btn-outline-secondary" href="{% url 'usuarios:equipo_list' %}">Gestionar usuarios</a>
  <a class="btn btn-outline-secondary" href="{% url 'core:deportes_list' %}">Gestionar Deportes</a>

  <!-- Nuevo acceso -->
  <a class="btn" href="{% url 'core:comunicados_list' %}">Comunicados</a>
</div>


  <div style="margin-top:18px;">
    <a class="btn" href="{% url 'usuarios:logout' %}">Salir</a>
  </div>
{% endblock %}
