{% extends "base.html" %}
{% block content %}
<h2>Asistencia - {{ clase }}</h2>
<form method="post" class="card card-body">{% csrf_token %}
  <table class="table table-sm">
    <thead><tr><th>Atleta</th><th>Presente</th><th>Observaciones</th></tr></thead>
    <tbody>
    {% for form in formset %}
      <tr>
        <td>{{ form.instance.atleta }}</td>
        <td>{{ form.presente }}</td>
        <td>{{ form.observaciones }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <button class="btn btn-success">Guardar</button>
</form>
{% endblock %}
